
# SBT ignores :

target/*
project/plugins/target/*
project/plugins/project/*
/*/target/*
project/project/*
bin

# Scalaforms ignores :

rescomp.cache

# Scala-IDE ignores :

*/bin/*
.scala_dependencies
.project
.classpath
.target
.cache
