<!-- def formStart -->

<form>12345<!-- commentaire -->12345

<!-- def formStartWithLabel($label) -->

<h3>$label:i18n</h3>
<form>

<!-- def formEnd -->

</form>

<!-- def fieldSetStart -->

<fieldset>

<!-- def fieldSetStartWithLabel($label) -->

<fieldset><legend>$label:i18n</legend>

<!-- def beforeFields -->

<table>

<!-- def fieldLabel($label) -->

<label>$label</label>

<!-- def fieldLabelFor($label, $inputFieldId) -->

<label for="$inputFieldId">$label:i18n</label>

<!-- def field1($f) -->

<tr><td>$f:label</td>

<!-- def field2 -->

<td>&nbsp;&nbsp;</td>

<!-- def field3($f) -->

<td>$f:control</td></tr>

<!-- def afterFields -->

</table>

<!-- def fieldSetEnd -->

</fieldset>

<!-- end  -->
