<!-- def formStart -->

<form>12345<!-- commentaire -->12345

<!-- def formStartWithLabel($label) -->

<h3>$label</h3>
<form>

<!-- def formEnd -->

</form>

<!-- def fieldSetStart -->

<fieldset>

<!-- def fieldSetStartWithLabel($label) -->

<fieldset><legend>$label:raw</legend>

<!-- def beforeFields -->

<table>

<!-- def fieldSpacer -->

<td>&nbsp;&nbsp;</td>

<!-- def fieldLabel($label) -->

<label>$label</label>

<!-- def fieldLabelFor($label, $inputFieldId) -->

<label for="$inputFieldId">$label</label>

<!-- def field($f, $spacer) -->

<tr><td>$f:fieldLabel</td>$spacer:raw<td>$f:fieldControl</td></tr>

<!-- def afterFields -->

</table>

<!-- def fieldSetEnd -->

</fieldset>

<!-- end  -->
